In [1]:
import pandas as pd

In [9]:
# Import Data
vine_df = pd.read_csv('vine.csv')
vine_df.head()

/Users/josephobryant/opt/anaconda3/envs/PythonData/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3457: DtypeWarning: Columns (1) have mixed types.Specify dtype option on import or set low_memory=False.
  exec(code_obj, self.user_global_ns, self.user_ns)

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
0,R14GW9NZLCU8NA,3,0.0,0.0,N,Y
1,R39MNPSUZ4F14Y,5,0.0,0.0,N,Y
2,R3K0J76S69AQVY,2,3.0,5.0,N,Y
3,R1M26V1N29EIJL,5,10.0,11.0,N,Y
4,R2POFACRLYFAB6,4,0.0,0.0,N,Y

In [10]:
# Step 1 total votes
total_votes_df = vine_df.loc[vine_df["total_votes"] >= 20]
total_votes_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1XGHIOK8ST3AB,4,24.0,31.0,N,Y
52,R350GU2FRXSTGR,5,20.0,21.0,N,Y
99,R3DUSBJ4T6TZD2,4,28.0,30.0,N,Y
159,R2T1BV6FLGV5U8,1,31.0,36.0,N,Y
172,R19DRU7I1CHH2N,4,23.0,24.0,N,Y

In [11]:
# Step 2 helpful / total votes > 50%
help_total_df = total_votes_df.loc[total_votes_df["helpful_votes"] / total_votes_df["total_votes"] >= 0.5]
help_total_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1XGHIOK8ST3AB,4,24.0,31.0,N,Y
52,R350GU2FRXSTGR,5,20.0,21.0,N,Y
99,R3DUSBJ4T6TZD2,4,28.0,30.0,N,Y
159,R2T1BV6FLGV5U8,1,31.0,36.0,N,Y
172,R19DRU7I1CHH2N,4,23.0,24.0,N,Y

In [12]:
# Step 3 Review written
review_df = help_total_df.loc[help_total_df["vine"] == 'Y']
review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
2943,R5QPH6NWL4SJ8,5,76.0,89.0,Y,N
21779,R2CIDJXXX77NJS,5,16.0,21.0,Y,N
22601,R26IK7PH8QH9OI,5,53.0,63.0,Y,N
28351,R1KRZVFJC15HL8,5,22.0,25.0,Y,N
29733,R1LTKX6CK77X6W,5,19.0,22.0,Y,N

In [13]:
# Step 4 Reivew not written
no_review_df = help_total_df.loc[help_total_df["vine"] == 'N']
no_review_df.head()

,review_id,star_rating,helpful_votes,total_votes,vine,verified_purchase
36,R1XGHIOK8ST3AB,4,24.0,31.0,N,Y
52,R350GU2FRXSTGR,5,20.0,21.0,N,Y
99,R3DUSBJ4T6TZD2,4,28.0,30.0,N,Y
159,R2T1BV6FLGV5U8,1,31.0,36.0,N,Y
172,R19DRU7I1CHH2N,4,23.0,24.0,N,Y

In [15]:
# Step 5 total paid reviews
total_paid = review_df.review_id.count()
total_paid

285

In [16]:
# Step 5 total unpaid reviews
total_unpaid = no_review_df.review_id.count()
total_unpaid

31545

In [17]:
# Step 5 5 star paid
fivestar_paid = review_df.loc[(review_df['star_rating']== 5)]["star_rating"].count()
fivestar_paid

157

In [18]:
# Step 5 5 star unpaid
fivestar_unpaid = no_review_df.loc[(no_review_df['star_rating']== 5)]["star_rating"].count()
fivestar_unpaid

14144

In [20]:
# Step 5 percentages
paid_perc = fivestar_paid/total_paid
paid_perc

0.5508771929824562

In [21]:
# Step 5 percentages
unpaid_perc = fivestar_unpaid/total_unpaid
unpaid_perc

0.4483753368204153